@tailwind base;
@tailwind components;
@tailwind utilities;


.image-ads {
    width: 282px;
    height: 231px;
    display: inline-block;
}

.image-count {
    width: 48px;
    height: 48px;
    display: inline-block;
}

#container-ads {
    width: 429px;
    height: 404px;
    max-width: 100%;
}

/* queries */
@media all and (max-width: 640px) {
    #container-section {
        display: flex;
    }
    .card {
        margin-top: 2rem;
    }
    .container {
        justify-content: center;
        align-items: center;
    }
    #spacing-mobile {
        margin: 0 7rem 0 7rem;
        
    }
}
